<div class="header__player" data-id="{{player.place}}">
	<img class="player__avatar--small image--hasfallback" src="{{#ifCond player.icon ""}}assets/images/player-1.png{{else}}{{player.icon}}{{/ifCond}}" alt="">
  <div class="player__details">
	<h4 class="player__name">{{player.name}}</h4>
	<p class="player__badge">{{player.badge}}</p>
	<p class="player__score">{{player.score}}</p>
  </div>
</div>