<div class="waiting-screen">
  <div class="waiting-screen__holder">
	  <img class="waiting-screen__logo" src="{{#ifCond topic.icon ""}}assets/images/vanamo_logo.png{{else}}{{topic.icon}}{{/ifCond}}" alt="{{topic.name}}">
	  <h3 class="waiting-screen__topic">{{topic.name}}</h3>
	  <p>{{round}}</p>
  </div>
</div>