<div class="versus">
  <div class="player--one solo-game animate--in">
    <img class="player__avatar player__avatar--left image--hasfallback" src="{{#ifCond player.icon ""}}assets/images/player-1.png{{else}}{{player.icon}}{{/ifCond}}" alt="{{player.name}}">
    <div class="player__details">
      <div class="player__name"><b>{{player.name}}</b></div>
      <div class="player__badge"><small>{{player.badge}}</small></div>
      <div class="player__score"></div>
    </div>

  </div>
  <div class="versus__one player--one animate--in"></div>
  <div class="versus__two player--two animate--in"></div>
</div>